<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Bienvenidos</h1></center>
    <center><a href="{%url 'app1:creditos' %}">Creditos</a></center>
    <center><a href="{%url 'app1:admin' %}">Administradores</a></center>
    <center><a href="{%url 'app1:estudiantes' %}">Estudiantes</a></center>
    
        En esta pagina web podran encontrar las paracticas de la tarea 1 en las cuales he creado un pequeño menú donde nos permitirá poder
        navegar entre 4 paginas distintas. Cada una nos mostrará informacion importante sobre lo que cada uno dice.
        
        Todo fue creado en HTML5 y con el editor de Visual Studio Code, ademas de que todos los archivos acá usados estaran en mi GitHub
        propio y siendo compartido en público.

        Gracias por pasar por acá :) :) :) :)
</body>
</html>